body{
    border: 0px;
    margin: 0px;
    padding:0px;
}
.main-container{
    padding-top:8.7em;
    width: 100%;
    height: 100vh;
    background-color: #C4C4C4;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-title{
    width: 20em;
    height: 48px;
    left: 152px;
    top: 423px;
    padding-left: 6.3em;
    font-style: normal;
    font-weight: normal;
    justify-content: center;
    font-size: 27px;
    line-height: 49px;
}
.card-description{
    font-family:'Roboto',cursive;
    color:black;
}
.card-image img{
    width: 16em;
    margin-left: 40em;
    margin-top: 0.5px;
}
.card-container{
    background-color: #ffffff;
    width: 90%;
}
.card-description{
    justify-content: center;
    width: 170px;
    height: 120px;
    left: 88px;
    top: 467px;
    padding-left: 2.7em;
    margin-bottom: 36px;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 15px;
    text-align: center;

}
.card-image{
    text-align: center;
    width: 60%;
    position: absolute;
    top:8em;
    margin-top:2em;
    right: 9em;
}
.boton{
    width: 90px;
    justify-content: center;
    height: 23px;
    left: 143px;
    top: 623px;
    background: #C4C4C4;
    border-radius: 20px;
    margin-bottom: 30px ;
    margin-left: 9.8em;
}

@media screen and (min-width:700px) and (orientation:landscape)
{
.card-body{
        display: flex;
        flex-direction: row;
    }
    .card-image{
        position: static;
        width: 80%;
    }
    .card-container{
        width: 40rem;
        transition: all 1s;
        padding-top: 3em;
        margin-right: 1.2em;
        padding-bottom: 5em;
        padding-left:10em;
    }
    .card-content{
        width: 70%;
        position: relative;
    }
    .card-image img{
        transform: scale(1.3,1.3) translateX(25%);
    }
    .assesine-icon:hover{
        fill: #fae5a5;
    }
    .boton{
        position: absolute;
        margin-top: 5em;
        margin-left: 64em;
    }
}